* {
  font-size: 62.5%;
  padding: 2px;
}
.max-width {
  max-width: 45%;
}
.emptydiv {
  background-color: #ff9233;
  height: 4vh;
  margin-bottom: 20px;
}
.mb {
  margin-bottom: 30px;
}
body {
  background-color: #fdddd6f5;
}
@media (max-width:500px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
}
.navbar {
  display: flex;
  justify-content: space-evenly;
}
h2,
h1,
h3 {
  color: white;
}
.section1 {
  font-size: 4rem;
}
a {
  text-decoration: none;
}
@media (max-width:500px) {
  .navbar {
    display: flex;
    flex-direction: column-reverse;
  }
}
.section2 {
  font-size: 6rem;
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .section2 {
    display: flex;
    flex-direction: column;
  }
}
.section2 a {
  font-size: 8rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #ff9233;
}
.section3 {
  font-size: 6rem;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    align-content: center;
  }
}
.section3 .aboutus {
  background-image: url(../img/Pics/jogging\ in\ park.jpg);
  background-size: cover;
  background-position: center;
  max-width: 80%;
  position: relative;
  left: 250px;
  margin-bottom: 45px;
  margin-top: 35px;
  border-radius: 50px;
}
@media (max-width:500px) {
  .section3 .aboutus {
    max-width: 100%;
    left: 0;
  }
}
.section3 h2 {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  padding-top: 40px;
  flex-basis: 70%;
  margin-left: 20px;
  background-color: rgba(1, 1, 1, 0.2);
  padding: 20px;
}
.section3 p {
  border-radius: 50px;
  color: #ffffff;
  padding: 20px;
  font-size: 2.4rem;
  flex-basis: 70%;
  margin-left: 20px;
  background-color: rgba(1, 1, 1, 0.2);
}
.section3 .creatorsinfo {
  border: 2px solid black;
  border-radius: 50px;
  border-bottom: dotted black 3px;
  background-image: url(../img/Pics/working\ out.jpg);
  background-size: cover;
  background-position: center;
  max-width: 80%;
}
@media (max-width:500px) {
  .section3 .creatorsinfo {
    max-width: 100%;
  }
}
.emptydiv1 {
  background-color: #ff9233;
  height: 4vh;
  margin-bottom: 20px;
}
@media (max-width:500px) {
  .emptydiv1 {
    display: none;
  }
}
.anywhere {
  display: flex;
  flex-basis: 80%;
  font-size: 5rem;
  color: black ;
  margin-left: 20px;
  padding: 20px;
}
.emptydiv2 {
  background-color: #ff9233;
  height: 4vh;
  margin-bottom: 20px;
}
.members {
  background-image: url(../img/Pics/woman-on-beach.jpg);
  background-size: cover;
  background-position: 69%;
  max-width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width:500px) {
  .members {
    flex-wrap: wrap-reverse;
    flex-direction: column;
    max-width: 100%;
    background-color: #fdddd6f5;
    background-image: none;
    width: 100%;
  }
}
.members .link {
  font-size: 3rem;
  border-radius: 10px;
  width: 50%;
  background-color: #bdbdbd;
}
.members .diante {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width:500px) {
  .members .diante {
    max-width: 100%;
    width: 100%;
  }
}
.members .diante div {
  display: flex;
  justify-content: center;
}
.members .marvin {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .members .marvin {
    max-width: 100%;
    width: 100%;
  }
}
.members .marvin div {
  display: flex;
  justify-content: center;
}
.members .tyler {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .members .tyler {
    max-width: 100%;
    width: 100%;
  }
}
.members .tyler div {
  display: flex;
  justify-content: center;
}
.members .michelle {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .michelle .michellepic {
  width: 70%;
}
@media (max-width:500px) {
  .members .michelle .michellepic {
    width: 100%;
  }
}
@media (max-width:500px) {
  .members .michelle {
    max-width: 100%;
    width: 100%;
    position: relative;
    right: 200px;
    left: 0;
  }
}
.members .michelle div {
  display: flex;
  justify-content: center;
}
.members .andrea {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .members .andrea {
    max-width: 100%;
    width: 100%;
  }
}
.members .andrea .andreapic {
  width: 75%;
}
@media (max-width:500px) {
  .members .andrea .andreapic {
    width: 100%;
  }
}
.members .andrea div {
  display: flex;
  justify-content: center;
}
.members .michael {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .michael div {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .members .michael {
    max-width: 100%;
    width: 100%;
  }
}
.members .jordan {
  max-width: 45%;
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .jordan div {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .members .jordan {
    max-width: 100%;
    width: 100%;
  }
}
.members .krishna {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .krishna div {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .members .krishna {
    max-width: 100%;
    width: 100%;
  }
}
.members .krishna .krishnainfo {
  margin-bottom: 85px;
}
.members .deandre {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width:500px) {
  .members .deandre {
    max-width: 100%;
    width: 100%;
  }
}
.members .deandre div {
  display: flex;
  justify-content: center;
}
.members .brandi {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .brandi .brandiinfo {
  margin-bottom: 60px;
}
.members .brandi div {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .members .brandi {
    max-width: 100%;
    width: 100%;
  }
}
.members .brian {
  max-width: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.members .brian div {
  display: flex;
  justify-content: center;
}
@media (max-width:500px) {
  .members .brian {
    max-width: 100%;
    width: 100%;
  }
}
.members p {
  background-color: #ffAA99;
  font-size: 2rem;
  flex-direction: row-reverse;
  border-radius: 50px;
  color: white;
  font-size: 2.4rem;
  flex-basis: 70%;
  margin-left: 20px;
  background-color: rgba(1, 1, 1, 0.2);
  padding: 20px;
}
@media (max-width:500px) {
  .members p {
    max-width: 100%;
    font-size: 3rem;
  }
}
.members img {
  box-sizing: border-box;
  max-width: 100%;
  width: 70%;
  border: black 3px solid;
  height: 50vh;
  border-radius: 50px;
}
@media (max-width:500px) {
  .members img {
    width: 100%;
    max-width: 100%;
  }
}
