header {
    overflow: hidden;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #ffffff;

    .accent {
        background-color: @primary-color;
        text-align: center;
        padding: 17px 0 22px 0;
        .font-style(@contrast-text, 800)    
    } 
}

body {
    height: 200vh;
}

.main {
    margin-top: 250px;
    height: 560px;
    .flexbox(column, nowrap, center);

    h1 {
        .font-style(@main-text, 700);
        font-size: 8.6rem;
    }
    
    p {
        .font-style(@main-text, 600);
    }
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: #ffffff;
        .footer-border {            
            border-top: 1px solid @border-color; 
            box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.5);                        
    } 
}