.display(@flex, @space) {
    display: @flex;
    justify-content: @space;
}

.max-width {
    max-width: 45%;
} 

.emptydiv{
    background-color: @main-color;
    height: 4vh;
    margin-bottom: 20px;
}

.mb{
    margin-bottom: 30px;
}
