.emptydiv2{
    background-color: @main-color;
    height: 4vh;
    margin-bottom: 20px;
}




.members{
    background-image: url(../img/Pics/woman-on-beach.jpg);
    background-size: cover;
    background-position: 69%;
    max-width: 100%;

    

        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media @tablet {
            flex-wrap: wrap-reverse;
            flex-direction: column;
            max-width: 100%;
            background-color: #fdddd6f5;
            background-image: none;

                div{
                    max-width: 100%;
                }
    
        }

        .diante {
            max-width: 45%;

            @media @tablet {
                max-width: 100%;
            }


                div {
                    .display(flex, center);
                }
        }

        .marvin {
            max-width: 45%;

            @media @tablet {
                max-width: 100%;
            }

            div {
                .display(flex, center);
            }
        }

        .tyler {

            @media @tablet {
                max-width: 100%;
            }
            .max-width();
            div {
                .display(flex, center);
            }

        }

        .michelle {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .andrea {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .michael {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .jordan {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .krishna {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .deandre {
            .max-width();

            @media @tablet {
                max-width: 100%;
            }

            div {
                .display(flex, center);
            }
        }

        .brandi {
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }

        .brian{
            .max-width();

            div {
                .display(flex, center);
            }

            @media @tablet {
                max-width: 100%;
            }
        }
    

    p {
        background-color: @second-color;
        font-size: 2rem;
        flex-direction: row-reverse;
        border-radius: 50px;
        color: white;
        padding: 20px;
        font-size: 2.4rem;
        flex-basis: 70%;
        margin-left: 20px;
        background-color: rgba(.5, .5, .5, .2);
        padding: 20px;

            @media @tablet {
                max-width: 100%;
                font-size: 3rem;
            }
    }

    img {
        box-sizing: border-box;
        max-width: 40%;
        width: 40%;
        border: black 3px solid;
        max-height: auto;
        border-radius: 50px;

            @media @tablet {
                width: 100%;
                max-width: 100%;;
            }

    }


}